createdAt: "2019-02-27T04:56:41.086Z"
updatedAt: "2019-02-27T14:19:01.440Z"
type: "MARKDOWN_NOTE"
folder: "5bde3d0994f35ed44380"
title: "2019"
tags: [
  "2019"
]
content: '''
  # 2019
  
  ## 2019很关键！
  
  ### 当前存在的问题：
  1. 早起
  2. 沉不下去，心有旁骛
  3. 没有要事优先，总是搞些杂七杂八的东西消磨了时间
  4. 工作方法不对路，及时反馈、邮件总结结论、多记录多沟通
  5. 做事的流程很乱，各种事情如何记录需要梳理出来，有了流程，那就坚定执行，然后反馈优化
  6. 
  
  
  ### 我应该怎么做
  1. 列出来，把所有要做的、没做的、想做的、没做好的事，大大小小全列出来
  
  
  ### 技术相关
  1. 技术是立身之本啊
  2. 当前可以围绕工作深钻技术
  3. 列一列工作中需要那些：Java、consul、python、rpm、spec、nginx
  4. 列一列基础的一些技术能力：http、https、ssl、ssh、rpc、nginx、tomcat
  5. 英语
  
  ### 良性循环起来呀
  
  ### 原地踏步 不进则退 身边的人都上进得很，进步很大，你要多学习啊，和自己比一把
  
  ### 技术三步骤 学架构 读经典
  #### 计算
  #### 储存
  #### 网络
  
'''
isStarred: false
isTrashed: false
