createdAt: "2019-03-19T23:23:43.497Z"
updatedAt: "2019-03-19T23:33:18.342Z"
type: "MARKDOWN_NOTE"
folder: "2a33fecc86fdf3ac6bfa"
title: "知识点"
tags: []
content: '''
  # 知识点
  
  1. http协议
  2. ssl协议
  3. 三次握手、四次握手
  4. TCP/IP协议
  5. restfull 
  6. RPC
  7. SOAP
  8. ftp/sftp
  9. xml/json/yaml
  10. 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
