createdAt: "2019-01-01T13:57:10.482Z"
updatedAt: "2019-01-01T13:58:17.307Z"
type: "MARKDOWN_NOTE"
folder: "f21148a6f48a4ad2bc3d"
title: "工作方法"
tags: []
content: '''
  # 工作方法
  
  1. 关注领导关注的事情
  2. 及时反馈要反馈的事情
  3. 四象限法则分类事情
  4. 
'''
isStarred: false
isTrashed: false
