createdAt: "2019-03-17T23:40:41.672Z"
updatedAt: "2019-03-17T23:41:48.277Z"
type: "MARKDOWN_NOTE"
folder: "6d7294932c2871f4527b"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
