createdAt: "2019-03-22T00:03:49.587Z"
updatedAt: "2019-03-22T00:05:54.540Z"
type: "MARKDOWN_NOTE"
folder: "6d7294932c2871f4527b"
title: "Internals - Gossip Protocol"
tags: []
content: '''
  # Internals - Gossip Protocol
  
  八卦协议
  
  Consul使用一个八卦协议来管理成员身份并向集群广播消息。所有这些都是通过使用SERF库提供的。SERF使用的八卦协议基于“游泳：可伸缩的弱一致感染型进程组成员协议”，并有一些小的改动。这里有更多关于SERF协议的详细信息。高级主题！本页介绍了Consul内部的技术细节。你不需要知道这些细节就可以有效地操作和使用Consul。这些详细信息记录在这里，供那些希望了解它们而不必通过源代码进行拼写的人使用。»领事的闲话领事利用了两个不同的八卦池。我们将每个池分别称为LAN池或WAN池。每个运行的数据中心Consul都有一个LAN八卦池，其中包含数据中心的所有成员，包括客户端和服务器。局域网池有一些用途。成员身份信息允许客户端自动发现服务器，从而减少所需的配置量。分布式故障检测允许整个集群共享故障检测工作，而不是集中在几个服务器上。最后，八卦池可以为领袖选举等事件提供可靠、快速的事件广播。广域网池是全局唯一的，因为无论数据中心如何，所有服务器都应参与广域网池。WAN池提供的成员身份信息允许服务器执行跨数据中心请求。集成的故障检测允许Consul优雅地处理整个失去连接的数据中心或远程数据中心中的单个服务器。所有这些特性都是通过利用serf提供的。它被用作嵌入式库来提供这些功能。从用户的角度来看，这并不重要，因为抽象应该被consul屏蔽。但是，作为开发人员，了解如何利用这个库是很有用的。»救生员增强功能Swim假设本地节点是健康的，因为软实时处理数据包是可能的。但是，在本地节点遇到CPU或网络耗尽的情况下，可以违反此假设。结果是，serfhealth-check状态偶尔会发生变化，导致错误的监控警报，给遥测增加了噪声，并导致整个集群浪费CPU和网络资源，诊断出可能不真实存在的故障。救生员完全解决了这个问题，通过新的增强游泳功能。有关救生员的更多详细信息，请参阅《使用救生员使流言蜚语更强大》博客文章，该文章对hasicorp研究论文《救生员：带情境意识游泳》进行了高层次的概述。SERF八卦协议指南还提供了一些关于八卦协议和救生员的低级细节。
'''
linesHighlighted: []
isStarred: false
isTrashed: false
